<div>
  <h1>Header</h1>
  <a style="margin: 10px;" class="btn btn-primary" routerLink="/about-us">About Us</a>
  <a style="margin: 10px;" class="btn btn-primary" routerLink="/how-it-works">How it works</a>
  <a style="margin: 10px;" class="btn btn-primary" routerLink="/auth/login">Login</a>
  <a style="margin: 10px;" class="btn btn-primary" [routerLink]="['/public/book-details', bookId]" [queryParams]="{param1:'Souvik'}">Book Details</a>
</div>
<router-outlet></router-outlet>
<div>
  <h4>Footer</h4>
</div>